@import url('../abstract/_variaveis.css');
header{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}
header nav{
    display: flex;
    align-items: center;
}
.container__left{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.container__right{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.container__right a{
    display: flex;
    align-items: center;
}
.container__left > a > img{
    width: 20px;
    height: 20px;
}
.container__right > a > img{
    width: 20px;
    height: 20px;
    margin-right: .25rem;
}
.container__right button{
    background-color: transparent;
    border: none;
    display: none;
}
header nav a:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-out .3s;
}
.container__left input{
    display: none;
}
.container__left label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95px;
    transition: ease-in-out .3s;
}
.container__left label:hover{
    padding: .2rem .5rem;
    background-color: var(--cor-2);
    border-radius: 20px;
    width: 110px;
}
.container__left button{
    background-color: transparent;
    border: none;
}
.container__left button img{
    width: 20px;
}
@media only screen and (max-width:1245px){
    header label{
        display: none !important;
    }
    .container__right button{
        display: flex;
        position: absolute;
        right: 10%;
    }
    .container__right a:nth-child(2),
    .container__right a:nth-child(3){
        display: none;
    }
    .container__right{
        width: 30%;
    }
}
@media only screen and (max-width:1024px){
    .container__left{
        width: 20%;
    }
}
@media only screen and (max-width:744px){
    .container__left{
        width: 0;
    }
    .container__left a{
        display: none;
    }
    .container__right{
        width: 0;
    }
    .container__right a{
        display: none;
    }
    .container__left button{
        display: none;
    }
}