footer{
    width: 100%;
    padding: 3rem 3rem 2rem;
    background-color: var(--cor-2);
    border-radius: 20px;
    margin-bottom: 3rem;
}
footer > p{
    font-weight: var(--light) !important;
    text-align: center;
    margin-top: 3rem;
}
.container__logo-links{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.container__logo-links .links{
    display: flex;
    width: 5rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.grid__footer{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "contato sobre"
    "frase sobre";
    gap: 1rem;
    margin-top: 2rem;
}
.contato-footer{
    grid-area: contato;
}
.container__sobre{
    grid-area: sobre;
}
.grid__footer > p{
    grid-area: frase;
    text-align: center;
}
.contato-footer a{
    background-image: url('../../img/icons/envelope.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-y: 3px;
    padding: 0 1.5rem;
}
.contato-footer p{
    background-image: url('../../img/icons/telefone.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-y: 6px;
    padding: 0 1.5rem;
}
@media only screen and (max-width:1020px){
    .grid__footer{
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 740px){
    footer{
        padding: 2rem 1rem 1rem;
    }
    .grid__footer{
        display: flex;
        flex-direction: column;
    }
}