@import url('../abstract/_variaveis.css');
main > h1{
    margin-bottom: .5rem;
}
.container__botoes{
    display: none;
}
.sessao__info{
    display: flex;
    flex-direction: column;
    align-content:  center;
    justify-content: space-evenly;
}
.cotainer__ilustracao{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2rem 0;
}
.informativos, .items{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
}
.items h3{
    margin: .8rem 0;
}
.container__projetos{
    margin: 1rem 0;
}
.item-projeto5, .item-projeto6{
    display: none !important;
}
.container__img img{
    width: 100%;
}
.container__certificados{   
    width: 100%;
    margin: 5rem 0;
}
.item-certificado5, .item-certificado6{
    display: none !important;
}
@media only screen and (min-width:740px){
    main{
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-areas: 
        "saudacao ilustracao"
        "info info";
        row-gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    .cotainer__ilustracao{
        grid-area: ilustracao;
        margin: 0;
    }
    .container__saudacao{
        grid-area: saudacao;
        width: 100%;
    }
    .sessao__info{
        grid-area: info;
        margin: 4rem 0;
    }
    .informativos{
        display: grid;
        grid-template-areas: "item1 item2 item3";
        column-gap: 2rem;
        margin: 0;
        align-items: flex-start;
    }
    .item1{
        grid-area: item1;
        width: auto;
    }
    .item2{
        grid-area: item2;
        width: auto;
    }
    .item3{
        grid-area: item3;
        width: auto;
    }
    .items{
        margin: 0;
    }
    .container__saudacao .titulo{
        font-size: 24px;
        margin-bottom: .6rem;
    }
    .container__saudacao .texto, .container__saudacao .texto-semibold{
        font-size: 18px;
    }
    .container__projetos{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-areas: 
        "item1 item2"
        "item3 item4";
        gap: 1rem;
    }
    .item-projeto1{
        grid-area: item1;
    }
    .item-projeto2{
        grid-area: item2;
    }
    .item-projeto3{
        grid-area: item3;
    }
    .item-projeto4{
        grid-area: item4;
    }
    .container__certificados{
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "item1 item2"
        "item3 item4"
        "btn btn";
        column-gap: 1rem;
        gap: 1rem;
    }
    .container__certificados h1{
        grid-area: titulo;
    }
    .item-certificado1{
        grid-area: item1;
    }
    .item-certificado2{
        grid-area: item2
    }
    .item-certificado3{
        grid-area: item3;
    }
    .item-certificado4{
        grid-area: item4;
    }
    .btn-certificado{
        grid-area: btn;
    }
    .item-certificado5, .item-certificado6{
        display: none !important;
    }
}
@media only screen and (min-width:1215px){
    .items{
        display: grid;
        grid-template-areas: 
        "icon titulo"
        "icon texto";
    }
    .items img{
        grid-area: icon;
        margin-right: 1rem;
    }
    .items h3{
        grid-area: titulo;
        text-align: left;
        margin: .1rem 0;
    }
    .items p{
        grid-area: texto;
        text-align: left;
    }
    .container__botoes{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
    }
    .container__botoes a{
        transition: all 300ms ease-in-out;
    }
    .container__botoes a:nth-child(1){
        background-image: var(--degrade-1);
        padding: .5rem 1rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    .container__botoes a:nth-child(1):hover{
        transform: scale(1.1);
    }
    .container__botoes a:nth-child(2), 
    .container__botoes a:nth-child(3){
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
    .container__botoes a:nth-child(2):hover, 
    .container__botoes a:nth-child(3):hover{
        transform: scale(1.1);
        opacity: 1;
    }
    .container__botoes img{
        width: 20px;
        height: 20px;
        margin-right: .25rem;
    }
    .container__projetos{
        display: grid;
        grid-template-columns: 32.3% 32.3% 32.3%;
        grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6";
        gap: 1rem;
    }
    .item-projeto5{
        display: flex !important;
        grid-area: item5;
    }
    .item-projeto6{
        display: flex !important;
        grid-area: item6;
    }
    .container__certificados{
        grid-template-areas:
        "titulo titulo titulo"
        "item1 item2 item3"
        "item4 item5 item6"
        "btn btn btn";
    }
    .item-certificado5{
        display: grid !important;
        grid-area: item5;
    }
    .item-certificado6{
        display: grid !important;
        grid-area: item6;
    }
}